<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aidan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<div class="home">
    <h1>Hello, Welcome to my website!</h1>
    <p> this is a work in progress while I am learning web development</p>
</div>
</body>
{% extends "firstWeb/layout.html" %}
{% block content %}
  <div class="home">
    <h1>A Python product</h1>
    <p>This website was built with Python via the Flask framework.</p>
  </div>
{% endblock %}
</html>